@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
  z-index: 2;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: black;
}

/* DESKTOP NAV */

header,
#desktop-nav nav,
footer nav {
  display: flex;
}

header {
  scroll-snap-align: start;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h1:hover {
  cursor: default;
}

header {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

#desktop-nav nav,
footer nav {
  gap: 2rem;
  font-size: 1.5rem;
}

a {
  transition: all 300ms ease;
  color: black;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.7rem;
  text-decoration-color: rgb(167, 167, 167);
}

/* HAMBURGER NAV */

#hamburger-nav {
  display: flex;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  cursor: pointer;
}

.hamburger-icon span {
  background-color: black;
  width: 100%;
  height: 2px;
}

.hamburger-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f8f8f8;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.hamburger-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  transition: all 3s ease-in-out;
}

.hamburger-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:nth-child(2) {
  opacity: 1;
}

.hamburger-icon span:last-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  min-height: fit-content;
}

#about,
#experience,
#projects,
#contact {
  scroll-snap-align: start;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 15rem;
  height: 80vh;
}

#profile img {
  border-radius: 50%;
}

.img-container {
  display: flex;
  width: 400px;
  height: 400px;
  margin: auto 0;
}

.profile-text {
  align-self: center;
  text-align: center;
}

.profile-text p {
  font-weight: 600;
}
.p1 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: rgb(121, 121, 121);
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.p2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(121, 121, 121);
}

.socials-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-container button {
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
  font-weight: 600;
  border: rgb(121, 121, 121) solid 0.2rem;
}
.btn-container button:hover {
  cursor: pointer;
}
.btn-resume:hover,
.btn-contact {
  background-color: #797979;
  color: #f8f8f8;
}

.btn-contact:hover {
  background-color: rgb(0, 0, 0);
}

.btn-resume {
  background: #f8f8f8;
}

.btn-resume:hover {
  border: #f8f8f8 0.2rem solid;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.details-main-container,
.about-inner-containers {
  display: flex;
}

#about img {
  border-radius: 1.5rem;
  align-self: center;
  width: 28rem;
}

.text-container {
  background-color: #f8f8f8;
  text-align: justify;
}

.about-main-container {
  display: flex;
  margin-top: 5rem;
}

.about-main-container {
  gap: 4rem;
  height: 65%;
}

.about-inner-containers {
  margin: 2rem 0rem;
  gap: 2rem;
}

.details-main-container {
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.arrow {
  position: absolute;
  right: -3rem;
  bottom: 2.5rem;
}

/* DETAILS-CONTAINER */
.details-inner-container {
  padding: 1.5rem;
  flex: 1;
  background-color: #f8f8f8;
  border-radius: 1.5rem;
  text-align: center;
  border: #797979 solid 0.15rem;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: #797979;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 12rem;
  justify-content: space-around;
}

article p {
  color: #797979;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: #f8f8f8;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-title {
  margin: 3rem;
  color: black;
  text-align: center;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT SECTION */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.contact-main-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: #797979 0.1rem solid;
  background-color: #f8f8f8;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

/* FOOTER */

footer {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  text-align: center;
}

footer p {
  margin-top: 2.5rem;
  text-align: center;
  color: #797979;
}
